In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from funpymodeling.exploratory import freq_tbl

In [4]:
df=pd.read_csv("DF_Mexico.csv")
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbf in position 80258: invalid start byte

**Análisis exploratorio de la base de datos Airbnb**  
1. Dimensión del data frame.
2. Tipos de datos.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            24224 non-null  int64
 1   listing_url                                   24224 non-null  object
 2   scrape_id                                     24224 non-null  int64
 3   last_scraped                                  24224 non-null  object
 4   source                                        24224 non-null  object
 5   name                                          24223 non-null  object
 6   description                                   23296 non-null  object
 7   neighborhood_overview                         15145 non-null  object
 8   picture_url                                   24224 non-null  object
 9   host_id                                       24224 non-null  int64
 10  host_url                                      24224 non-null  object
 11  host_name                                     24224 non-null  object
 12  host_since                                    24224 non-null  object
 13  host_location                                 19052 non-null  object
 14  host_about                                    13560 non-null  object
 15  host_response_time                            21133 non-null  object
 16  host_response_rate                            21133 non-null  object
 17  host_acceptance_rate                          22181 non-null  object
 18  host_is_superhost                             24219 non-null  object
 19  host_thumbnail_url                            24224 non-null  object
 20  host_picture_url                              24224 non-null  object
 21  host_neighbourhood                            11823 non-null  object
 22  host_listings_count                           24224 non-null  int64
 23  host_total_listings_count                     24224 non-null  int64
 24  host_verifications                            24224 non-null  object
 25  host_has_profile_pic                          24224 non-null  object
 26  host_identity_verified                        24224 non-null  object
 27  neighbourhood                                 15145 non-null  object
 28  neighbourhood_cleansed                        24224 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      24224 non-null  float64
 31  longitude                                     24224 non-null  float64
 32  property_type                                 24224 non-null  object
 33  room_type                                     24224 non-null  object
 34  accommodates                                  24224 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                24194 non-null  object
 37  bedrooms                                      23669 non-null  float64
 38  beds                                          23953 non-null  float64
 39  amenities                                     24224 non-null  object
 40  price                                         24224 non-null  object
 41  minimum_nights                                24224 non-null  int64
 42  maximum_nights                                24224 non-null  int64
 43  minimum_minimum_nights                        24223 non-null  float64
 44  maximum_minimum_nights                        24223 non-null  float64
 45  minimum_maximum_nights                        24223 non-null  float64
 46  maximum_maximum_nights                        24223 non-null  float64
 47  minimum_nights_avg_ntm                        24223 non-null  float64
 48  maximum_nights_avg_ntm                        24223 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              24224 non-null  object
 51  availability_30                               24224 non-null  int64
 52  availability_60                               24224 non-null  int64
 53  availability_90                               24224 non-null  int64
 54  availability_365                              24224 non-null  int64
 55  calendar_last_scraped                         24224 non-null  object
 56  number_of_reviews                             24224 non-null  int64
 57  number_of_reviews_ltm                         24224 non-null  int64
 58  number_of_reviews_l30d                        24224 non-null  int64
 59  first_review                                  20628 non-null  object
 60  last_review                                   20628 non-null  object
 61  review_scores_rating                          20628 non-null  float64
 62  review_scores_accuracy                        20572 non-null  float64
 63  review_scores_cleanliness                     20573 non-null  float64
 64  review_scores_checkin                         20572 non-null  float64
 65  review_scores_communication                   20572 non-null  float64
 66  review_scores_location                        20571 non-null  float64
 67  review_scores_value                           20571 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              24224 non-null  object
 70  calculated_host_listings_count                24224 non-null  int64
 71  calculated_host_listings_count_entire_homes   24224 non-null  int64
 72  calculated_host_listings_count_private_rooms  24224 non-null  int64
 73  calculated_host_listings_count_shared_rooms   24224 non-null  int64
 74  reviews_per_month                             20628 non-null  float64
dtypes: float64(22), int64(19), object(34)
memory usage: 13.9+ MB

El DataFrame cuenta con 24,224 observaciones y 75 variables, se aprecia que contamos con tipos de datos numéricos (float e int) y con caracteres (object),
se aprecia que existen variables con datos faltantes.

**Tratamiento de datos nulos**
1. Seleccionamos las variables solicitadas por el profesor.
2. Pre- visualización de los nulos.
3. Tratamiento de datos faltantes justificando la metodología.

In [12]:
valores_nulos=df.isnull().sum()
valores_nulos

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               3596
Length: 75, dtype: int64

Dado que en la visualización no podemos observar el total de nulos pasaremos a seleccionar manualmente únicamente las variables que presenten esta condición.

In [13]:
df_seleccion = df.iloc[  : , [5,6,7,13,14,15,16,17,18,21,27,29,35,36,37,38,43,44,45,46,47,48,49,59,60,61,62,63,64,65,66,67,68,74]]
df_seleccion

,name,description,neighborhood_overview,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,reviews_per_month
0,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,NaN,"Mexico City, Mexico",NaN,within a day,100%,NaN,f,Coyoacán,...,2018-06-24,4.95,4.71,4.95,5.00,4.95,5.00,4.86,NaN,0.19
1,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...","Mexico City, Mexico",NaN,NaN,NaN,NaN,f,NaN,...,2022-11-04,4.85,4.90,4.88,4.93,5.00,4.95,4.84,NaN,0.54
2,"3 Bedrooms, 2 blocks from Polanco - ALL RENOVA...","Beautifully decorated 3 bedroom apartment, it ...","This area is called Nuevo Polanco, it has bein...","Mexico City, Mexico",We are from CDMX and moved back and forth to N...,within an hour,100%,90%,t,Centro Histórico,...,2022-12-21,4.57,4.82,4.71,4.92,4.92,4.58,4.71,NaN,0.31
3,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...","Mexico City, Mexico","Master in visual arts, film photography & Mark...",NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,"Mexico City, Mexico",Condesa Haus is Bed & Breakfast located on th...,within an hour,100%,86%,f,Condesa,...,2023-03-26,4.58,4.56,4.70,4.87,4.78,4.98,4.48,NaN,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,Rincón Mexico lindo!,Este lugar tiene una ubicación estratégica: ll...,NaN,"Mexico City, Mexico",Amo viajar y disfrutar de mis viajes y que mej...,within an hour,100%,100%,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24220,Departamento en zona diamante.,"Ubicado en zona diamante, junto al aeropuerto,...",NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24221,Habitación privada en magnífica casa,Relájate en este espacio muy tranquilo y elega...,NaN,"Mexico City, Mexico",Me considero una persona accesible para mis hu...,NaN,NaN,96%,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24222,Espacioso y luminoso loft - Roma,What else does it come with?<br />- WIFI 100MB...,NaN,"Mexico City, Mexico",NaN,within an hour,100%,100%,t,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24223,Maravilloso departamento en Ciudad de México,Ven a descubrir este increíble departamento en...,Una zona muy bonita ya que varias de las atrac...,NaN,NaN,NaN,NaN,100%,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
valores_nulos=df_seleccion.isnull().sum()
valores_nulos

name                                1
description                       928
neighborhood_overview            9079
host_location                    5172
host_about                      10664
host_response_time               3091
host_response_rate               3091
host_acceptance_rate             2043
host_is_superhost                   5
host_neighbourhood              12401
neighbourhood                    9079
neighbourhood_group_cleansed    24224
bathrooms                       24224
bathrooms_text                     30
bedrooms                          555
beds                              271
minimum_minimum_nights              1
maximum_minimum_nights              1
minimum_maximum_nights              1
maximum_maximum_nights              1
minimum_nights_avg_ntm              1
maximum_nights_avg_ntm              1
calendar_updated                24224
first_review                     3596
last_review                      3596
review_scores_rating             3596
review_scores_accuracy           3652
review_scores_cleanliness        3651
review_scores_checkin            3652
review_scores_communication      3652
review_scores_location           3653
review_scores_value              3653
license                         24224
reviews_per_month                3596
dtype: int64

Procedemos a eliminar las variables que no contengan datos

In [24]:
df_seleccion2 = df.iloc[  : , [5,6,7,13,14,15,16,17,18,21,27,36,37,38,43,44,45,46,47,48,59,60,61,62,63,64,65,66,67,74]]
df_seleccion2

,name,description,neighborhood_overview,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,NaN,"Mexico City, Mexico",NaN,within a day,100%,NaN,f,Coyoacán,...,2014-01-03,2018-06-24,4.95,4.71,4.95,5.00,4.95,5.00,4.86,0.19
1,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...","Mexico City, Mexico",NaN,NaN,NaN,NaN,f,NaN,...,2014-01-01,2022-11-04,4.85,4.90,4.88,4.93,5.00,4.95,4.84,0.54
2,"3 Bedrooms, 2 blocks from Polanco - ALL RENOVA...","Beautifully decorated 3 bedroom apartment, it ...","This area is called Nuevo Polanco, it has bein...","Mexico City, Mexico",We are from CDMX and moved back and forth to N...,within an hour,100%,90%,t,Centro Histórico,...,2012-10-31,2022-12-21,4.57,4.82,4.71,4.92,4.92,4.58,4.71,0.31
3,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...","Mexico City, Mexico","Master in visual arts, film photography & Mark...",NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,"Mexico City, Mexico",Condesa Haus is Bed & Breakfast located on th...,within an hour,100%,86%,f,Condesa,...,2011-11-09,2023-03-26,4.58,4.56,4.70,4.87,4.78,4.98,4.48,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,Rincón Mexico lindo!,Este lugar tiene una ubicación estratégica: ll...,NaN,"Mexico City, Mexico",Amo viajar y disfrutar de mis viajes y que mej...,within an hour,100%,100%,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24220,Departamento en zona diamante.,"Ubicado en zona diamante, junto al aeropuerto,...",NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24221,Habitación privada en magnífica casa,Relájate en este espacio muy tranquilo y elega...,NaN,"Mexico City, Mexico",Me considero una persona accesible para mis hu...,NaN,NaN,96%,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24222,Espacioso y luminoso loft - Roma,What else does it come with?<br />- WIFI 100MB...,NaN,"Mexico City, Mexico",NaN,within an hour,100%,100%,t,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24223,Maravilloso departamento en Ciudad de México,Ven a descubrir este increíble departamento en...,Una zona muy bonita ya que varias de las atrac...,NaN,NaN,NaN,NaN,100%,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
valores_nulos=df_seleccion.isnull().sum()
valores_nulos

name                               1
description                      928
neighborhood_overview           9079
host_location                   5172
host_about                     10664
host_response_time              3091
host_response_rate              3091
host_acceptance_rate            2043
host_is_superhost                  5
host_neighbourhood             12401
neighbourhood                   9079
bathrooms_text                    30
bedrooms                         555
beds                             271
minimum_minimum_nights             1
maximum_minimum_nights             1
minimum_maximum_nights             1
maximum_maximum_nights             1
minimum_nights_avg_ntm             1
maximum_nights_avg_ntm             1
first_review                    3596
last_review                     3596
review_scores_rating            3596
review_scores_accuracy          3652
review_scores_cleanliness       3651
review_scores_checkin           3652
review_scores_communication     3652
review_scores_location          3653
review_scores_value             3653
reviews_per_month               3596
dtype: int64

Vamos a separar 3 bases de datos, cada una representará cada tipo de dato.

In [25]:
df_seleccion2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         24223 non-null  object
 1   description                  23296 non-null  object
 2   neighborhood_overview        15145 non-null  object
 3   host_location                19052 non-null  object
 4   host_about                   13560 non-null  object
 5   host_response_time           21133 non-null  object
 6   host_response_rate           21133 non-null  object
 7   host_acceptance_rate         22181 non-null  object
 8   host_is_superhost            24219 non-null  object
 9   host_neighbourhood           11823 non-null  object
 10  neighbourhood                15145 non-null  object
 11  bathrooms_text               24194 non-null  object
 12  bedrooms                     23669 non-null  float64
 13  beds                         23953 non-null  float64
 14  minimum_minimum_nights       24223 non-null  float64
 15  maximum_minimum_nights       24223 non-null  float64
 16  minimum_maximum_nights       24223 non-null  float64
 17  maximum_maximum_nights       24223 non-null  float64
 18  minimum_nights_avg_ntm       24223 non-null  float64
 19  maximum_nights_avg_ntm       24223 non-null  float64
 20  first_review                 20628 non-null  object
 21  last_review                  20628 non-null  object
 22  review_scores_rating         20628 non-null  float64
 23  review_scores_accuracy       20572 non-null  float64
 24  review_scores_cleanliness    20573 non-null  float64
 25  review_scores_checkin        20572 non-null  float64
 26  review_scores_communication  20572 non-null  float64
 27  review_scores_location       20571 non-null  float64
 28  review_scores_value          20571 non-null  float64
 29  reviews_per_month            20628 non-null  float64
dtypes: float64(16), object(14)
memory usage: 5.5+ MB

**Object**

In [ ]:
object_df=df_seleccion2.iloc[  : , [0,1,2,3,4,5,6,7,8,9,10,11,20,21]]
object_df

In [37]:
#Reemplazamos datos nulos utilizando BFill
object_df2=object_df.fillna(method="bfill") 
object_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   24224 non-null  object
 1   description            24224 non-null  object
 2   neighborhood_overview  24224 non-null  object
 3   host_location          24223 non-null  object
 4   host_about             24222 non-null  object
 5   host_response_time     24223 non-null  object
 6   host_response_rate     24223 non-null  object
 7   host_acceptance_rate   24224 non-null  object
 8   host_is_superhost      24224 non-null  object
 9   host_neighbourhood     24209 non-null  object
 10  neighbourhood          24224 non-null  object
 11  bathrooms_text         24224 non-null  object
 12  first_review           24189 non-null  object
 13  last_review            24189 non-null  object
dtypes: object(14)
memory usage: 2.6+ MB

In [38]:
#Completamos usando FFill
object_df3=object_df2.fillna(method="ffill") 
object_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   24224 non-null  object
 1   description            24224 non-null  object
 2   neighborhood_overview  24224 non-null  object
 3   host_location          24224 non-null  object
 4   host_about             24224 non-null  object
 5   host_response_time     24224 non-null  object
 6   host_response_rate     24224 non-null  object
 7   host_acceptance_rate   24224 non-null  object
 8   host_is_superhost      24224 non-null  object
 9   host_neighbourhood     24224 non-null  object
 10  neighbourhood          24224 non-null  object
 11  bathrooms_text         24224 non-null  object
 12  first_review           24224 non-null  object
 13  last_review            24224 non-null  object
dtypes: object(14)
memory usage: 2.6+ MB

Validamos que los datos solicitados sean todos caracteres

In [43]:
freq_tbl(object_df3)

                                                 name  frequency  percentage  \
0                     Perfecto Loft en gran ubicación         48    0.001982
1              Single and shared rooms near downtown.         24    0.000991
2                              Departamento 2 cuartos         20    0.000826
3                                 Hermosa suite doble         13    0.000537
4      Sky Roma - Suites & Depas, Colonia Roma Norte.         12    0.000495
...                                               ...        ...         ...
23341             Habitación en departamento chevere!          1    0.000041
23342       "Vive Mexico" en el corazon de Roma Norte          1    0.000041
23343                   Renta recamara para señoritas          1    0.000041
23344               Luxury and Spacious 3BD apartment          1    0.000041
23345    Maravilloso departamento en Ciudad de México          1    0.000041

       cumulative_perc
0             0.001982
1             0.002972
2             0.003798
3             0.004335
4             0.004830
...                ...
23341         0.999835
23342         0.999876
23343         0.999917
23344         0.999959
23345         1.000000

[23346 rows x 4 columns]

----------------------------------------------------------------

                                             description  frequency  \
0      Disfruta de la sencillez de este alojamiento t...        158
1      Check in to style at this fully-stocked apartm...         99
2      You will like my house very much, my house is ...         63
3      Este lugar tiene una ubicación estratégica: ¡s...         58
4      Estamos situados en el centro de Ciudad de Méx...         56
...                                                  ...        ...
20704  Es un hogar súper agradable ubicado en la call...          1
20705  Es un condominio de casas independiente, con s...          1
20706  Check in to style at this fully-stocked apartm...          1
20707  Departamento completamente renovado en el cora...          1
20708  Ven a descubrir este increíble departamento en...          1

       percentage  cumulative_perc
0        0.006522         0.006522
1        0.004087         0.010609
2        0.002601         0.013210
3        0.002394         0.015604
4        0.002312         0.017916
...           ...              ...
20704    0.000041         0.999835
20705    0.000041         0.999876
20706    0.000041         0.999917
20707    0.000041         0.999959
20708    0.000041         1.000000

[20709 rows x 4 columns]

----------------------------------------------------------------

                                   neighborhood_overview  frequency  \
0      It lies between Mexico City's downtown and el ...         71
1      Polanco is one of the most exclusive and luxur...         66
2      Welcome to Polanco: Surrounded by high-end sho...         64
3      Roma Norte is known for being the epicenter of...         61
4      Tiene muchísimas virtudes!!<br />- Estoy a met...         60
...                                                  ...        ...
11535  Ubicados sobre una de las principales avenidas...          1
11536  Dale un vistazo a Mis GUIAS<br />--Zona Rosa.<...          1
11537                              es bastante tranquilo          1
11538  Es una colonia muy segura y céntrica, cerca te...          1
11539  Zona muy tranquila y cercas de los Corporativo...          1

       percentage  cumulative_perc
0        0.002931         0.002931
1        0.002725         0.005656
2        0.002642         0.008298
3        0.002518         0.010816
4        0.002477         0.013293
...           ...              ...
11535    0.000041         0.999835
11536    0.000041         0.999876
11537    0.000041         0.999917
11538    0.000041         0.999959
11539    0.000041         1.000000

[11540 rows x 4 columns]

----------------------------------------------------------------

                 host_location  frequency  percentage  cumulative_perc
0          Mexico City, Mexico      19685    0.812624         0.812624
1                       Mexico       1304    0.053831         0.866455
2     Federal District, Mexico        274    0.011311         0.877766
3                 New York, NY        226    0.009330         0.887095
4     Ciudad de Mexico, Mexico        226    0.009330         0.896425
..                         ...        ...         ...              ...
377              Woodstock, IL          1    0.000041         0.999835
378           Rosarito, Mexico          1    0.000041         0.999876
379  Alfredo V. Bonfil, Mexico          1    0.000041         0.999917
380             Beaver Dam, WI          1    0.000041         0.999959
381           Nacajuca, Mexico          1    0.000041         1.000000

[382 rows x 4 columns]

----------------------------------------------------------------

                                             host_about  frequency  \
0     We transform traditional apartments into Kukun...        243
1     Wynwood House is a next-gen hospitality brand ...        237
2     Damas y Caballeros sirviendo a Damas y Caballe...        162
3     Bienvenidos!\n\nSomos una empresa con alrededo...        149
4     Mi casa es muy grande y acogedora, siempre hay...        144
...                                                 ...        ...
5727  I enjoy knowing nice and interesting people as...          1
5728  Dr. In Visual Arts, Faculty of Arts and Desing...          1
5729  Me encanta viajar acompañada de mi familia, co...          1
5730  "A hero is someone who can keep his mouth shut...          1
5731  Tengo 29 años,  soy tripulante de cabina, me c...          1

      percentage  cumulative_perc
0       0.010031         0.010031
1       0.009784         0.019815
2       0.006688         0.026503
3       0.006151         0.032654
4       0.005945         0.038598
...          ...              ...
5727    0.000041         0.999835
5728    0.000041         0.999876
5729    0.000041         0.999917
5730    0.000041         0.999959
5731    0.000041         1.000000

[5732 rows x 4 columns]

----------------------------------------------------------------

   host_response_time  frequency  percentage  cumulative_perc
0      within an hour      19442    0.802592         0.802592
1  within a few hours       2283    0.094245         0.896838
2        within a day       1662    0.068610         0.965447
3  a few days or more        837    0.034553         1.000000

----------------------------------------------------------------

   host_response_rate  frequency  percentage  cumulative_perc
0                100%      18531    0.764985         0.764985
1                 99%       1027    0.042396         0.807381
2                 90%        680    0.028071         0.835452
3                  0%        655    0.027039         0.862492
4                 98%        525    0.021673         0.884164
..                ...        ...         ...              ...
56                64%          1    0.000041         0.999835
57                44%          1    0.000041         0.999876
58                10%          1    0.000041         0.999917
59                47%          1    0.000041         0.999959
60                36%          1    0.000041         1.000000

[61 rows x 4 columns]

----------------------------------------------------------------

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%      12674    0.523200         0.523200
1                   99%       2909    0.120088         0.643288
2                   98%       1143    0.047185         0.690472
3                    0%        780    0.032199         0.722672
4                   97%        772    0.031869         0.754541
..                  ...        ...         ...              ...
85                  24%          2    0.000083         0.999835
86                  13%          1    0.000041         0.999876
87                   9%          1    0.000041         0.999917
88                  18%          1    0.000041         0.999959
89                  30%          1    0.000041         1.000000

[90 rows x 4 columns]

----------------------------------------------------------------

  host_is_superhost  frequency  percentage  cumulative_perc
0                 f      15431    0.637013         0.637013
1                 t       8793    0.362987         1.000000

----------------------------------------------------------------

      host_neighbourhood  frequency  percentage  cumulative_perc
0                Polanco       3317    0.136930         0.136930
1             Roma Norte       2174    0.089746         0.226676
2    Chapultepec Morales       1380    0.056968         0.283644
3              Hipódromo        979    0.040414         0.324059
4                Condesa        945    0.039011         0.363070
..                   ...        ...         ...              ...
275    Torres del Maurel          1    0.000041         0.999835
276           San FELIPE          1    0.000041         0.999876
277          La Macarena          1    0.000041         0.999917
278          La Chapelle          1    0.000041         0.999959
279             Yaletown          1    0.000041         1.000000

[280 rows x 4 columns]

----------------------------------------------------------------

                                         neighbourhood  frequency  percentage  \
0                Mexico City, Ciudad de México, Mexico      20404    0.842305
1                            Mexico City, CDMX, Mexico        927    0.038268
2                Mexico City, Distrito Federal, Mexico        638    0.026338
3                     Centro, Ciudad de México, Mexico        354    0.014614
4                     Juárez, Ciudad de México, Mexico        292    0.012054
..                                                 ...        ...         ...
335     San José Insurgentes, Ciudad de México, Mexico          1    0.000041
336           Ciudad de México, Coyoacán, CDMX, Mexico          1    0.000041
337  centro Ciudad de México, Distrito Federal, Mexico          1    0.000041
338      Ciudad de México - Coyoacan, Coyoacan, Mexico          1    0.000041
339      Mexico City, Coyoacán, Santa Catarina, Mexico          1    0.000041

     cumulative_perc
0           0.842305
1           0.880573
2           0.906911
3           0.921524
4           0.933578
..               ...
335         0.999835
336         0.999876
337         0.999917
338         0.999959
339         1.000000

[340 rows x 4 columns]

----------------------------------------------------------------

       bathrooms_text  frequency  percentage  cumulative_perc
0              1 bath       9148    0.377642         0.377642
1             2 baths       4209    0.173753         0.551395
2      1 private bath       3247    0.134041         0.685436
3       1 shared bath       2838    0.117157         0.802592
4           1.5 baths       1398    0.057711         0.860304
5           2.5 baths        859    0.035461         0.895765
6    1.5 shared baths        614    0.025347         0.921111
7             3 baths        458    0.018907         0.940018
8      2 shared baths        309    0.012756         0.952774
9           3.5 baths        248    0.010238         0.963012
10   2.5 shared baths        151    0.006233         0.969245
11            4 baths        127    0.005243         0.974488
12     3 shared baths        110    0.004541         0.979029
13          4.5 baths         96    0.003963         0.982992
14     4 shared baths         62    0.002559         0.985552
15            5 baths         40    0.001651         0.987203
16     0 shared baths         37    0.001527         0.988730
17   3.5 shared baths         37    0.001527         0.990258
18          5.5 baths         31    0.001280         0.991537
19     6 shared baths         26    0.001073         0.992611
20   4.5 shared baths         23    0.000949         0.993560
21            6 baths         23    0.000949         0.994510
22            0 baths         18    0.000743         0.995253
23            7 baths         16    0.000661         0.995913
24          6.5 baths         12    0.000495         0.996409
25     5 shared baths         11    0.000454         0.996863
26          7.5 baths          9    0.000372         0.997234
27          Half-bath          9    0.000372         0.997606
28            8 baths          9    0.000372         0.997977
29   Shared half-bath          8    0.000330         0.998307
30     8 shared baths          8    0.000330         0.998638
31            9 baths          4    0.000165         0.998803
32           10 baths          4    0.000165         0.998968
33          8.5 baths          4    0.000165         0.999133
34           16 baths          3    0.000124         0.999257
35  Private half-bath          3    0.000124         0.999381
36    10 shared baths          2    0.000083         0.999463
37           50 baths          2    0.000083         0.999546
38          9.5 baths          2    0.000083         0.999628
39           13 baths          1    0.000041         0.999670
40    12 shared baths          1    0.000041         0.999711
41    15 shared baths          1    0.000041         0.999752
42           11 baths          1    0.000041         0.999794
43           15 baths          1    0.000041         0.999835
44           14 baths          1    0.000041         0.999876
45           20 baths          1    0.000041         0.999917
46         11.5 baths          1    0.000041         0.999959
47     9 shared baths          1    0.000041         1.000000

----------------------------------------------------------------

     first_review  frequency  percentage  cumulative_perc
0      2022-10-31        188    0.007761         0.007761
1      2023-03-19        157    0.006481         0.014242
2      2023-03-20        140    0.005779         0.020021
3      2022-10-30        132    0.005449         0.025471
4      2023-03-26        130    0.005367         0.030837
...           ...        ...         ...              ...
2883   2017-04-27          1    0.000041         0.999835
2884   2020-09-02          1    0.000041         0.999876
2885   2017-04-20          1    0.000041         0.999917
2886   2014-04-20          1    0.000041         0.999959
2887   2014-01-03          1    0.000041         1.000000

[2888 rows x 4 columns]

----------------------------------------------------------------

     last_review  frequency  percentage  cumulative_perc
0     2023-03-20       1347    0.055606         0.055606
1     2023-03-26        961    0.039671         0.095277
2     2023-03-12        932    0.038474         0.133752
3     2023-03-19        909    0.037525         0.171276
4     2023-02-27        558    0.023035         0.194311
...          ...        ...         ...              ...
1421  2018-08-01          1    0.000041         0.999835
1422  2018-02-19          1    0.000041         0.999876
1423  2021-07-03          1    0.000041         0.999917
1424  2018-12-16          1    0.000041         0.999959
1425  2022-07-12          1    0.000041         1.000000

[1426 rows x 4 columns]

----------------------------------------------------------------

Las variables "host_response_rate" y "host_acceptance_rate" parecen ser de tipo float por lo que las enviaremos al DB correspondiente.

**Float**

In [34]:
float_df=df_seleccion.iloc[ :, [12,13,14,15,16,17,18,19,22,23,24,25,26,27,28,29]]
float_df

,bedrooms,beds,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,1.0,1.0,1.0,1.0,1125.0,1125.0,1.0,1125.0,4.95,4.71,4.95,5.00,4.95,5.00,4.86,0.19
1,1.0,1.0,3.0,3.0,1125.0,1125.0,3.0,1125.0,4.85,4.90,4.88,4.93,5.00,4.95,4.84,0.54
2,3.0,3.0,24.0,24.0,1125.0,1125.0,24.0,1125.0,4.57,4.82,4.71,4.92,4.92,4.58,4.71,0.31
3,1.0,1.0,1.0,1.0,7.0,7.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,8.0,1.0,1.0,365.0,365.0,1.0,365.0,4.58,4.56,4.70,4.87,4.78,4.98,4.48,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,1.0,1.0,3.0,3.0,1125.0,1125.0,3.0,1125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24220,2.0,3.0,1.0,1.0,365.0,365.0,1.0,365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24221,2.0,1.0,5.0,5.0,365.0,365.0,5.0,365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24222,1.0,1.0,1.0,1.0,365.0,365.0,1.0,365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24223,3.0,3.0,1.0,1.0,1125.0,1125.0,1.0,1125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#Reemplazamos los datos utilizando la media
float_df2=float_df.fillna(round(float_df.mean(),1))
float_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   bedrooms                     24224 non-null  float64
 1   beds                         24224 non-null  float64
 2   minimum_minimum_nights       24224 non-null  float64
 3   maximum_minimum_nights       24224 non-null  float64
 4   minimum_maximum_nights       24224 non-null  float64
 5   maximum_maximum_nights       24224 non-null  float64
 6   minimum_nights_avg_ntm       24224 non-null  float64
 7   maximum_nights_avg_ntm       24224 non-null  float64
 8   review_scores_rating         24224 non-null  float64
 9   review_scores_accuracy       24224 non-null  float64
 10  review_scores_cleanliness    24224 non-null  float64
 11  review_scores_checkin        24224 non-null  float64
 12  review_scores_communication  24224 non-null  float64
 13  review_scores_location       24224 non-null  float64
 14  review_scores_value          24224 non-null  float64
 15  reviews_per_month            24224 non-null  float64
dtypes: float64(16)
memory usage: 3.0 MB